[tower]
{% for host in tower_cluster_ip_list %}
{% if loop.first  %}
{{ host }} ansible_connection=local
{% else %}
{{ host }}
{% endif %}
{% endfor %}

[database]

[all:vars]
admin_password='{{ admin_password }}'

pg_host='cfes-hub-ansible-tower.postgres.database.azure.com'
pg_port='5432'

pg_database={% if tower_environment == 'dev' %}'hub_awx_tower_development'{% else %}'hub_awx_tower_production'{% endif %}

pg_username='automateit@cfes-hub-ansible-tower'
pg_password='{{ admin_password }}'
pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

# Isolated Tower nodes automatically generate an RSA key for authentication;
# To disable this behavior, set this value to false
# isolated_key_generation=true


# SSL-related variables

# If set, this will install a custom CA certificate to the system trust store.
custom_ca_cert=/root/ansible-tower-trust.crt

# Certificate and key to install in nginx for the web UI and API
web_server_ssl_cert=/root/tower.cert
web_server_ssl_key=/root/tower.key

# Server-side SSL settings for PostgreSQL (when we are installing it).
# postgres_use_ssl=False
# postgres_ssl_cert=/path/to/pgsql.crt
# postgres_ssl_key=/path/to/pgsql.key
